/* top level
--------------------------------------------*/
.menuTemplate3
{
    margin: 0 auto;
    width: 100%;
    float:left;
    behavior: url("/horizontal/menuh/cssmenu.htc");
    position:relative;
    z-index:4;
    height: 36px;
    background: #444;
    /*border: 1px solid #111;*/
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    padding: 0;
    height: 100px;
}

#logo{
 float:left;
}

.menuTemplate3 div {
    box-sizing:content-box;
}

.menuTemplate3 li
{
    padding: 0;
    float: right;
    height: 36px;
    position: relative;/*delete it if you want submenu to be positioned relative to the whole menu instead of this li element*/
    color: #EEE;
    z-index:5;
}

.menuTemplate3 #logo a
 {
     line-height: 62px;
 }

 .menuTemplate3 #logo a:hover
 {
     background-color: #444;
 }

.menuTemplate3 li:hover, .menuTemplate3 li.onhover
{
    border-top:0;
}
.menuTemplate3 li a
{
    padding: 0 30px;
    line-height: 36px; /*Note: keep this value the same as the height of .menuTemplate3 li */
    font-size: 20px;
    font-weight: normal;
    display: inline-block;
    outline: 0;
    text-decoration: none;
    color: #FFF;
    position: relative;
    line-height: 100px;
}
.menuTemplate3 li a:hover, .menuTemplate3 li a.onhover
{
    background-color: #222;
    color: #FFF;
    z-index: 9;
    height: 100px;
    margin-top:0px;
}
.menuTemplate3 a.arrow
{
    background: url(arrow.gif) no-repeat right center;
}


/*Used to align a top-level item to the right*/
.menuTemplate3 li.menuRight
{
    float: right;
    margin-right: 0px;
}

/*for the top-level separators*/
.menuTemplate3 li.separator
{
    font-size:0;
    overflow:hidden;
    border-left:1px solid #aaa;
    height:20px;
    margin-top:8px;
    z-index:4;
}


/*for top-level*/
.decor3_1
{
    margin-bottom: 5%;
    -moz-box-shadow: 1px 2px 10px 2px #999;
    -webkit-box-shadow: 1px 2px 10px 2px #999;
    box-shadow: 1px 2px 10px 2px #999;
}


/*for sidebar*/

.menuTemplate3-sideBar
{
    margin: 0 auto;
    float:right;
    behavior: url("/horizontal/menuh/cssmenu.htc");
    position:relative;
    z-index:4;
    height: 36px;
    /* background: #444;
    border: 1px solid #111; */
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    padding: 0;
}

.menuTemplate3-sideBar div {
    box-sizing:content-box;
}

.menuTemplate3-sideBar li
{
    padding: 0;
    float: right;
    height: 36px;
    position: relative;/*delete it if you want submenu to be positioned relative to the whole menu instead of this li element*/
    color: #EEE;
    z-index:5;
    width:100%;
}

.menuTemplate3-sideBar li:hover, .menuTemplate3 li.onhover
{
    border-top:0;
}
.menuTemplate3-sideBar a
{
    /*padding: 0 30px;*/
    line-height: 36px; /*Note: keep this value the same as the height of .menuTemplate3 li */
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    outline: 0;
    text-decoration: none;
    color: #666;
    position: relative;
    width:100%;
}
.menuTemplate3-sideBar li:hover a, .menuTemplate3 li.onhover a
{
    background-color: #222;
    color: #FFF;
    z-index: 9;
}
.menuTemplate3-sideBar a.arrow
{
    background: url(arrow.gif) no-repeat right center;
}


/*Used to align a top-level item to the right*/
.menuTemplate3-sideBar li.menuRight
{
    float: right;
    margin-right: 0px;
}

/*for the top-level separators*/
.menuTemplate3-sideBar li.separator
{
    font-size:0;
    overflow:hidden;
    border-left:1px solid #aaa;
    height:20px;
    margin-top:8px;
    z-index:4;
}


/*for top-level*/
.decor3_1-sideBar
{
    margin-bottom: 5%;
    -moz-box-shadow: 1px 2px 10px 2px #999;
    -webkit-box-shadow: 1px 2px 10px 2px #999;
    box-shadow: 1px 2px 10px 2px #999;
}

.side-bar{
/*    display: inline-block;
    float:right;*/
    width:100%;
}