@(message: String)

@main("Welcome to Play") {
    <h1 class="front-title">Mindference</h1>
    <div class="front-introduction">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tristique mattis leo et sollicitudin. Mauris
            pulvinar ante at felis sollicitudin, a rutrum nibh dignissim. Cras rutrum urna mollis, interdum lacus sed,
            sagittis sapien. Maecenas euismod, orci eu volutpat luctus, sapien est vulputate dui, quis ornare lorem mi
            non diam.
        </p>
    </div>
    <div class="front-user-space">
        <p><a href="#">Join</a> | <a href="#">Return</a></p>
    </div>
}
