@(message: String)

@main("Welcome to Play") {
    <h1 class="front-title">Mindference</h1>
    <div id="front-newest-requests"></div>
    <div>
        <input id="login-email" type="text" name="Email" placeholder="Email">
        <input id="login-password" type="password" name="Password" placeholder="Password">
    </div>
    <div class="front-user-space">
        <p><a id="register-button" href="#">Join</a> | <a id="login-button" href="#">Return</a></p>
    </div>
    <div id="front-footer"></div>
}